doctype html 
html
    head 
        include ./commons/header.pug
        title Simple Ecom
    body 
        include ./commons/navbar.pug
        block content 
        br
        hr.mt-5
        footer
            include ./commons/footer.pug 

