nav.navbar.navbar-light.bg-light.shadow-sm.p-3.bg-white
    a.navbar-brand.navbar-brand-m(href='/deals')
        img.d-inline-block.align-top.logo(src='https://cdn.dribbble.com/users/1303230/screenshots/10786710/media/a3bf4bff950bdaee08b96bffe9336994.jpg?compress=1&resize=400x300' width='30' height='30' alt='logo')
        |     Gaming Store
    .d-flex.justify-content-end.c-mobile
        a.nav-link.m-auto.h-mobile(href='/deals')
            | Deals 
        a.nav-link.m-auto.h-mobile(href='#')
            | Games 
        a.nav-link.m-auto.h-mobile(href='/stores')
            | Store
