/* :root {
    --is-on-sale: block !important;
} */

.nosale {
    display:  var(--is-on-sale);
}

/* body */

body {
    /* background-color: lightblue; */
}

/* navbar */

.logo {
    object-fit: cover
}

.navbar-brand-m {
    margin: inherit;
}

/* content */

.bg-white {
    background: white;
}

.w-55 {
    width: 55%;
}

.w-33 {
    max-width: 33%;
    width: 33%;
}

.search {
    border-right: none;
}

.filter {
    width: 100%;
    margin: auto;
    display: flex;
}

.icon-filter {
    margin-left: auto;
    align-self: center;
}

.m-filter {
    margin: 10px;
}

.column {
    display: flex;
}

.alignment {
    align-self: flex-end!important;
}

.hide {
    display: none;
}

/* flex */

.i-flex {
    flex-wrap: wrap;
    display: inline-flex;
    flex-grow: 1;
}

/* image */ 

.g-image {
    width: 100%;
    max-height: 400px;
}

/* bootstrap manipulation */

.custom-control.custom-checkbox{padding-left: 0;}

label.custom-control-label {
  position: relative;
  padding-right: 3.5rem;
}

label.custom-control-label::before, label.custom-control-label::after{
  right: 0;
  left: auto;
}

/* text */

.line-through {
    text-decoration-line: line-through;
}

.text-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* borders */

.bord-shadow {
    background: white;
    box-shadow: 0px 12px 24px rgb(44 39 56 / 2%), 0px 24px 48px rgb(44 39 56 / 4%);
    border-radius: 1rem;
    margin: 1px;
}

.d-bord-shadow {
    background: white;
    box-shadow: 0px 12px 24px rgb(44 39 56 / 2%), 0px 24px 48px rgb(44 39 56 / 4%);
    border-radius: 1rem;
}

/* anchors */

a {
    color: black;
    font-weight: 600;
}

a:hover {
    color: grey;
}
  

/* media (mobile compatible) */

@media only screen and (max-width: 767px)  {
    .navbar-brand-m {
        margin: auto !important;
    }

    .h-mobile {
        margin: auto;
    }

    .c-mobile {
        box-shadow: 0 .125rem .5rem rgba(0,0,0,.300)!important;
        border-radius: 1rem!important;
        overflow: hidden;
        background-color: white;
        position: fixed;
        left: 0;
        width: 100%;
        bottom: -20px;
        padding-bottom: 20px;
    }

    .column {
        display:flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .alignment {
        align-self: flex-start!important;
    }

    body {
        background-color: white;
    }

    .w-33 {
        max-width: 100%;
        width: 100%;
    }
    
    .w-55 {
        width: 100%;
    }
}

/* test */
